<div class="col-md-12" ui-view>
    <div class="col-md-12">

        <div class="col-md-1 pull-right">
            <button type="button" class="btn btn-primary" ui-sref="app.actor.add">Add Actor</button>
        </div>
        <div class="col-md-4">
            <input type="search" class="form-control" placeholder="Search" ng-model="searchText">
        </div>
        <div class="col-md-12 table-responsive responsive to-table">
            <table class="table table-hover">
                <tr class="danger">
                    <th>Firs name</th>
                    <th>Last name</th>
                    <th>Gender</th>
                    <th>Birth date</th>
                    <th colspan="2">Actions</th>
                </tr>
                <tr class="info" ng-repeat="actor in actors | filter:searchText">
                    <td>{{actor.name}}</td>
                    <td>{{actor.last}}</td>
                    <td>{{actor.gender}}</td>
                    <td>{{actor.date | date:'dd/MM/yyyy'}}</td>
                    <td class="style">
                        <button type="button" class="btn btn-success" ng-click="delete(actor.id)">Delete</button>
                        <button type="button" class="btn btn-danger" ui-sref="app.actor.update({actorId:actor.id})">Edit</button>
                        <button type="button" class="btn btn-info" ui-sref="app.actor.info({actorId:actor.id})">Info</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
